footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(80ch, 100% - 4rem);
    margin-top: auto;
	gap: 1rem;
}

footer a {
    text-decoration: none;
}

footer div {
	display: flex;
	flex-wrap: wrap;
	gap: .2rem;
	text-align: center;
}

#fullscreen-button {
    font-size: 1rem;
    border: 1px solid;
    border-radius: 5px;
    background: none;
    padding: 7px 21px;
}

#fullscreen-button:hover {
    border: 1px solid lightgrey;
}

