#weather-widget {
    display: flex;
    position: relative;
    top: -20%;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

#weather-widget {
    font-size: clamp(1rem, 3vw, 2rem);
}

.location {
    font-size: clamp(1rem, 3vw, 1.5rem);
    opacity: 50%;
}

input[type="search"] {
    max-width: fit-content;
    font-size: clamp(1rem, 3vw, 1.5rem);
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
}

input[type="search"]:hover {
    outline: none;
    border-bottom: 2px solid grey;
	transition: border .25s ease-in;
}

input[type="search"]:focus {
    outline: none;
    border-bottom: 2px solid grey;
	transition: border .25s ease-in;
}

