#weather-widget {
    display: flex;
    justify-content: end;
    align-items: center;
}

#weather-widget {
    font-size: clamp(1rem, 3vw, 2rem);
}

#weather-container {
    position: absolute;
    top: 10%;
    right: 17%;
}

.location {
    font-size: clamp(1rem, 3vw, 1.5rem);
    opacity: 50%;
}

#weatherSearchContainer {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 5%;
}

#weatherSearchContainer input[type="search"] {
    font-size: clamp(1rem, 3vw, 1.5rem);
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
}

#weatherSearchContainer input[type="search"]:focus {
    outline: none;
    border-bottom: 2px solid grey;
	transition: border .25s ease-in;
}

